* {
    margin: 0px auto;
    padding: 0;
}

body {
    background: lightgrey;
    font-family: verdana;
    background-repeat: no-repeat;
    background-size: cover;
}

#menuAdmin {
    background: #1849AB;
    width: 75%;
    height: 100%;
    float: right;
    text-align: center;
    border: thick;
    border-radius: 10px;
}

ul {
    list-style: none;
}

.nav ul {
    border: groove;
    border-radius: 10px;
    border-color: #1849AB;
}

.nav li {
    color: #1849AB;
    width: 170px;
    text-decoration: none;
    display: block;
    padding: 9px;
}

.nav > li {
    float: left;
}

.nav li a {
    color: #FFFFFF;
    text-decoration: none;
}

    .nav li a:hover {
        background: #3971E1;
    }

.nav li:hover {
    background: #3971E1;
    border-radius: 10px;
    border-color: #1849AB;
}

.nav li ul {
    display: none;
    position: absolute;
    text-align: left;
}

.nav li:hover > ul {
    display: block;
    background-color: #1849AB;
}

.mostrar {
    width: 100%;
    height: auto;
    padding: 20px;
}

.marcoDeta{
    width: 45%;
    text-align: center;
    display: inline-block;
}

.imgFoto {
    width: 80px;
    height: 80px;
}

.Foto {
    width: 200px;
    height: 300px;
}

.pag{
    text-align: center;
}


/*CRUD Videojuegos*/

#bloqueLista {
    border-top: 1px dotted;
    border-bottom: 1px dotted;
    border-color: #1849AB;
}

#portadaLista {
    float: left;
    width: 35%;
}

#datosLista {
    width: 65%;
    font-size: 16px;
}

#CRUDLista {
    width: 24%;
    text-align: center;
    font-size: 15px;
}

.portadaLista {
    width: 60%;
    border: groove;
    border-color: #1849AB;
    border-radius: 1px;
    height: 340px;
}

.botonLista {
    text-align: center;
    width: 10%;
    font-size: 14px;
    border-radius: 5px;
}

#paginadoListado {
    text-align: center;
}