@model IEnumerable<Pagina_Videojuego.Models.Pelicula>

@{
    ViewBag.Title = "carritoCompras";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>CARRITO DE COMPRAS</h2>
<br />
@Html.ActionLink("REALIZAR COMPRA", "comprar", null, new { @class="btn btn-primary"})
<br />
@Html.Partial("_PartialPeliculas")


